---
http_interactions:
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&title=either/or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 2, "offset": 1}, "data": [{"release_year": 1997, "entity_type":
        "album", "title": "Either/Or", "main_genre": "rock", "number_of_tracks": "12",
        "album_ref_id": "3693047", "performer_name": "Elliott Smith", "id": "17f425bf-36cd-95b7-deef-5f7b45eb6cc5",
        "product_form": "Album"}, {"entity_type": "album", "title": "Either/Or", "main_genre":
        "rock", "number_of_tracks": "13", "album_ref_id": "65258409", "performer_name":
        "Everyone Involved", "id": "f897831a-6c4d-7602-cc6f-4b38ff14227d", "product_form":
        "Album"}]}'
  recorded_at: Thu, 26 Feb 2015 04:58:31 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&title=%7B:title=%3E%22the%20carpenter%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 0, "offset": 1}, "data": []}'
  recorded_at: Fri, 27 Feb 2015 03:47:14 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&title=the%20carpenter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 0, "offset": 1}, "data": []}'
  recorded_at: Fri, 27 Feb 2015 03:54:11 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&name=the%20avett%20brothers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 1, "offset": 1}, "data": [{"7digital_id": "352390", "main_genre":
        "rock", "country_of_origin": "United States of America", "entity_type": "artist",
        "artist_ref_id": "188989", "vevo_id": "0dd9fb87-10a4-48f4-bb85-c3e5769adf90",
        "sort_name": "Avett Brothers", "gender": "Male", "rhapsody_id": "7309378",
        "id": "f064adc4-a6b5-11e0-b446-00251188dd67", "decade": "2000s / 2010s", "name":
        "The Avett Brothers"}]}'
  recorded_at: Fri, 27 Feb 2015 03:57:32 GMT
[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/f064adc4-a6b5-11e0-b446-00251188dd67/albums?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 20, "total": 20, "offset": 1}, "data": [{"release_year": 2013, "title":
        "Magpie and the Dandelion", "entity_type": "album", "id": "6f915c8e-9ffb-43a2-8fcc-807d290da4de",
        "number_of_tracks": "11", "album_ref_id": "90486047", "main_genre": "rock"},
        {"release_year": 2012, "title": "Carpenter", "entity_type": "album", "id":
        "74983766-f9d4-35bf-d647-6ce1a08ccac3", "number_of_tracks": "12", "album_ref_id":
        "70194615", "performer_name": "The Avett Brothers", "main_genre": "rock",
        "product_form": "Album"}, {"release_year": 2010, "title": "Live, Vol. 3",
        "entity_type": "album", "id": "f173f517-2ea3-ad0c-6853-a072441944e9", "number_of_tracks":
        "16", "album_ref_id": "10535201", "performer_name": "The Avett Brothers",
        "main_genre": "alternative/indie", "product_form": "Album"}, {"release_year":
        2010, "title": "Live, Vol. 3", "entity_type": "album", "id": "114bc1c3-e6a9-5a8f-dfe3-47f46baedf6b",
        "number_of_tracks": "0", "album_ref_id": "10535201", "performer_name": "The
        Avett Brothers", "main_genre": "alternative/indie", "product_form": "Album"},
        {"release_year": 2009, "title": "I and Love and You", "entity_type": "album",
        "id": "9e39e8b2-aa26-3908-ed47-9c6e17e8a02e", "number_of_tracks": "13", "label_name":
        "AMERICAN", "album_ref_id": "33118867", "performer_name": "The Avett Brothers",
        "main_genre": "rock", "product_form": "Album"}, {"release_year": 2008, "title":
        "Gleam II", "entity_type": "album", "id": "0f84addd-98b0-25e2-be1a-4942c575cdca",
        "number_of_tracks": "6", "album_ref_id": "37361561", "performer_name": "The
        Avett Brothers", "main_genre": "rock", "product_form": "EP"}, {"release_year":
        2007, "title": "Emotionalism", "entity_type": "album",[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&title=i%20and%20love%20and%20you
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 1, "offset": 1}, "data": [{"release_year": 2009, "entity_type":
        "album", "title": "I and Love and You", "main_genre": "rock", "number_of_tracks":
        "13", "label_name": "AMERICAN", "album_ref_id": "33118867", "performer_name":
        "The Avett Brothers", "id": "9e39e8b2-aa26-3908-ed47-9c6e17e8a02e", "product_form":
        "Album"}]}'
  recorded_at: Fri, 27 Feb 2015 03:58:42 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&artist_name=led%20zeppelin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"release_ye[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&similar_to=grace
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 7, "offset": 1}, "data": [{"release_year": 1996, [...]
