---
http_interactions:
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/album/search?api_key=<API_KEY>&title=either/or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 2, "offset": 1}, "data": [{"release_year": 1997, "entity_type":
        "album", "title": "Either/Or", "main_genre": "rock", "number_of_tracks": "12",
        "album_ref_id": "3693047", "performer_name": "Elliott Smith", "id": "17f425bf-36cd-95b7-deef-5f7b45eb6cc5",
        "product_form": "Album"}, {"entity_type": "album", "title": "Either/Or", "main_genre":
        "rock", "number_of_tracks": "13", "album_ref_id": "65258409", "performer_name":
        "Everyone Involved", "id": "f897831a-6c4d-7602-cc6f-4b38ff14227d", "product_form":
        "Album"}]}'
  recorded_at: Thu, 26 Feb 2015 04:58:31 GMT
recorded_with: VCR 2.9.3
