---
http_interactions:
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&name=wilco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 1, "offset": 1}, "data": [{"7digital_id": "4307", "country_of_origin":
        "United States of America", "entity_type": "artist", "artist_ref_id": "35857",
        "vevo_id": "2a30215b-c9cd-45b7-9240-0a5757a5d123", "id": "e46a8e2e-a6b5-11e0-b446-00251188dd67",
        "sort_name": "Wilco", "gender": "Male", "rhapsody_id": "40249", "main_genre":
        "alternative/indie", "decade": "1990s / 2000s / 2010s", "name": "Wilco"}]}'
  recorded_at: Sun, 15 Feb 2015 05:06:00 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&name=local%20natives
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 1, "offset": 1}, "data": [{"country_of_origin": "United States of
        America", "entity_type": "artist", "artist_ref_id": "844541", "vevo_id": "1bc89fd8-fbd1-4954-aafe-aa4ffdfe0c16",
        "id": "f6360a59-2e1d-ddd0-28d9-3a412505f0ac", "sort_name": "Local Natives",
        "gender": "Male", "rhapsody_id": "32132354", "main_genre": "alternative/indie",
        "decade": "2000s / 2010s", "name": "Local Natives"}]}'
  recorded_at: Sun, 15 Feb 2015 05:06:00 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&similar_to=Pink%20Floyd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"7digital_id"[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&decade=1990s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"7digital_id": "15256", [...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&genre=Soul/R%26B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"7digital_id": "1523[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&genre=female
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": -1, "message": "Invalid parameters", "api": "v2",
        "errors": {"genre": "\"female\" is not one of alternative/indie, blues, cast
        recordings/cabaret, christian/gospel, children''s, classical/opera, comedy/spoken
        word, country, electronica/dance, folk, instrumental, jazz, latin, new age,
        pop, rap/hip hop, reggae/ska, rock, seasonal, soul/r&b, soundtracks, vocals,
        world, show music, contemporary christian, drum n'' bass, techno, latin jazz,
        swing, latin pop, latin rock, latin urban, mpb, regional mexican, salsa, tango,
        pop ballad, pop rock, 90''s rock, adult contemporary, metal, television, tropical"}}}'
  recorded_at: Sun, 15 Feb 2015 16:46:16 GMT
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&gender=female
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"main_genre": "world", [...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&country=america
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"7digital_id": "15256[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 5, "offset": 1}, "data": [{"7digital_id": "15256", "main_[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&limit=5&similar_to=Pink%20Floyd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 5, "offset": 1}, "data": [{"7digi[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/search?api_key=<API_KEY>&offset=10&similar_to=Pink%20Floyd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 5, "offset": 10}, "data": [{"7d[...]
[...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/suggest?api_key=<API_KEY>&prefix=gree
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"api": "v2", "message": "Success", "code": 0}, "pagination":
        {"count": 20, "offset": 1}, "data": [{"7digital_id": "610", "country_of_origin":
        "United States of America", "name": "Green Day", "entity_type": "artist",
        "artist_ref_id": "12673", "vevo_id": "0a7fd8f9-0e46-422d-9a85-e73357244647",
        "main_genre": "alternative/indie", "gender": "Male", "id": "e2969105-a6b5-11e0-b446-00251188dd67",
        "rhapsody_id": "6167", "slug": "green day", "decade": "1990s / 2000s / 1980s
        / 2010s"}, {"7digital_id": "585272", "country_of_origin": "United States of
        America", "name": "Cee Lo Green", "entity_type": "artist", "artist_ref_id":
        "56571", "vevo_id": "29f4e32f-ff09-4bac-acc4-cf6b610b6426", "main_genre":
        "rap/hip hop", "gender": "Male", "id": "0b120f6a-c9c7-98b7-8885-af7bc9dd6b34",
        "rhapsody_id": "58951", "slug": "cee lo green", "decade": "2000s / 2010s /
        1990s"}, {"7digital_id": [...]
- request:
    method: get
    uri: http://api.musicgraph.com/api/v2/artist/suggest?api_key=<API_KEY>&prefix=%7B:prefix=%3E%22gree%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": {"code": 0, "message": "Success", "api": "v2"}, "pagination":
        {"count": 0, "offset": 1}, "data": []}'
  recorded_at: Sun, 15 Feb 2015 21:41:54 GMT
recorded_with: VCR 2.9.3
